<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension
         point="org.knime.product.splashExtension">
      <splashExtension
            icon="resources/icons/logo48.png"
            icon24="resources/icons/logo24.png"
            icon32="resources/icons/logo32.png"
            id="ch.resear.samthiriot.knime.bayesiannetworks.splashExtension1"
            tooltip="Bayesian Networks nodes">
      </splashExtension>
   </extension>
    <extension
          point="org.knime.workbench.repository.categories">
       <category
             description="Bayesian networks"
             icon="src/ch/resear/thiriot/knime/bayesiannetworks/bn-icon.png"
             level-id="bayesiannet"
             locked="false"
             name="Bayesian networks"
             path="/community">
       </category>
       <category
             description="Read Bayesian networks"
             icon="src/ch/resear/thiriot/knime/bayesiannetworks/reader/bnreader-icon.png"
             level-id="read"
             locked="false"
             name="Read"
             path="/community/bayesiannet">
       </category>
       <category
             after="read"
             description="Create Bayesian networks"
             icon="src/ch/resear/thiriot/knime/bayesiannetworks/bn-icon.png"
             level-id="create"
             locked="false"
             name="Create"
             path="/community/bayesiannet">
       </category>
       <category
             after="create"
             icon="src/ch/resear/thiriot/knime/bayesiannetworks/sample/bnsample-icon.png"
             level-id="sample"
             locked="false"
             name="Sample"
             path="/community/bayesiannet">
       </category>
       <category
             after="sample"
             icon="src/ch/resear/thiriot/knime/bayesiannetworks/bn-icon.png"
             level-id="learn"
             locked="false"
             name="Learn"
             path="/community/bayesiannet">
       </category>
       <category
             after="learn"
             description="Write Bayesian networks"
             icon="src/ch/resear/thiriot/knime/bayesiannetworks/writer/xmlbif/bnwriter-icon.png"
             level-id="write"
             locked="false"
             name="Write"
             path="/community/bayesiannet">
       </category>
    </extension>
   <extension point="org.knime.core.PortType">
      <portType
            color="#219829"
            hidden="false"
            name="Bayesian network"
            objectClass="ch.resear.thiriot.knime.bayesiannetworks.port.BayesianNetworkPortObject"
            objectSerializer="ch.resear.thiriot.knime.bayesiannetworks.port.BayesianNetworkPortObject$Serializer"
            specClass="ch.resear.thiriot.knime.bayesiannetworks.port.BayesianNetworkPortSpec"
            specSerializer="ch.resear.thiriot.knime.bayesiannetworks.port.BayesianNetworkPortSpec$Serializer">
      </portType>
   </extension>

   
   <extension
         point="org.knime.workbench.repository.nodes">
      <node category-path="/community/bayesiannet/read" factory-class="ch.resear.thiriot.knime.bayesiannetworks.reader.XMLBIFBNReaderNodeFactory"/>
<node
      category-path="/community/bayesiannet/create"
      factory-class="ch.resear.thiriot.knime.bayesiannetworks.create.empty.CreateEmptyNodeFactory">
</node>
<node
      category-path="/community/bayesiannet/create"
      factory-class="ch.resear.thiriot.knime.bayesiannetworks.create.addnode.AddNodeToBNNodeFactory">
</node>
<node category-path="/community/bayesiannet/learn" factory-class="ch.resear.thiriot.knime.bayesiannetworks.learn.LearnBNFromSampleNodeFactory"/>
   <node category-path="/community/bayesiannet/sample" factory-class="ch.resear.thiriot.knime.bayesiannetworks.sample.SampleFromBNNodeFactory"/>
<node category-path="/community/bayesiannet/sample" factory-class="ch.resear.thiriot.knime.bayesiannetworks.augment.AugmentSampleWithBNNodeFactory"/>
<node category-path="/community/bayesiannet/write" factory-class="ch.resear.thiriot.knime.bayesiannetworks.writer.xmlbif.BNXMLNBIFWriterNodeFactory"/>
<node
      category-path="/community/bayesiannet/write"
      factory-class="ch.resear.thiriot.knime.bayesiannetworks.writer.bif.BIFWriterNodeFactory">
</node>
<node
      category-path="/community/bayesiannet/write"
      factory-class="ch.resear.thiriot.knime.bayesiannetworks.writer.net.NetWriterNodeFactory">
</node>
<node
      category-path="/community/bayesiannet/sample"
      factory-class="ch.resear.thiriot.knime.bayesiannetworks.enumerate.EnumerateBNNodeFactory">
</node>
<node
      category-path="/community/bayesiannet/sample"
      factory-class="ch.resear.thiriot.knime.bayesiannetworks.computeproba.ComputeProbaNodeFactory">
</node>
<node
      category-path="/community/bayesiannet"
      factory-class="ch.resear.thiriot.knime.bayesiannetworks.diff.DiffBNNodeFactory">
</node>

   </extension>
   
</plugin>
